

body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-image: url("images/macncheez.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 14;
	font-family: 'Londrina Solid', cursive;;
}

article {
	background-color: rgba(255, 196, 2, 0.3)
}

section {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background-color:  rgba(255, 94, 0, 0.6);
}

ul {
	position: fixed;
  	top: 0;
	width: 100%;
	max-width: 1024px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(230, 157, 0);
	position: sticky
	position: -webkit-sticky;
  }
  
  li {
	float: right;
  }
  
  li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color:  rgb(201, 135, 14);
  }

footer{
		background-color: rgb(230, 157, 0);
		text-align: center;
}

figure {
	text-align: center;
	background-color: rgb(255, 225, 93);
    width: 80%;
    height: auto;
   }
  
figcaption{
	font-size: 0.8em;
	text-shadow: rgba(243, 216, 60, 0.8) 3px 3px;
  }

img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width: auto;
    height: auto;
    opacity: 1;
    transition: .5s ease;
	backface-visibility: visible;
}

.art{
	width: 95%;
	height: auto;
}


.subtitle {
	text-align: center;
	font-size: 12px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.artsection::-webkit-scrollbar {
	display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.artsection {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }

table {
	width: 95%;
	max-width: 1024px;
}

#wrapper .text {
	position:relative;
	bottom:100px;
	left:0px;
	visibility:hidden;
}
	
#wrapper:hover .text {
	visibility:visible;
}