

body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-image: url("images/macncheez.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 14;
	font-family: 'Londrina Solid', cursive;;
}

article {
	background-color: rgba(255, 196, 2, 0.3)
}

section {
	max-width: 96%;
	margin: 0 auto;
	background-color:  rgba(255, 94, 0, 0.6);
}

ul {
	position: fixed;
  	top: 0;
	width: 100%;
	max-width: 1024px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(230, 157, 0);
	position: sticky
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color:  rgb(201, 135, 14);
  }

footer{
		background-color: rgb(230, 157, 0);
		text-align: center;
}



/* img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	max-width: 100%;
    height: auto;
    opacity: 1;
    transition: .5s ease;
	backface-visibility: visible;
} */

.art{
	border: 2px solid rgba(199, 96, 0);
	border-radius: 4px;
	padding: 5px;
	width: 150px
}

.art:hover {
	box-shadow: 0 0 2px rgba(0, 140, 186, 0.5);
}

.subtitle {
	text-align: center;
	font-size: 12px;
}

div.gallery {
	border: 1px solid #ccc;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	max-width: 50px
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }